<p style="color: green"><%= notice %></p>

<% if current_user %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  Role: <%= current_user.roles.pluck(:name).join('') %>
<% else %>
  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
